<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PTRS</title>
</head>
<body style="font-family: sans-serif">
<h1 style="margin: 0; text-align: center; font-size: 19px; color: black;">Indiana County Department of Public Works</h1>
<h2 style="margin: 45px 0 0; font-size: 16px; color: #6E6E6E;">POTHOLE REPAIR STATUS REPORT</h2>
<h3 style="margin: 15px 0 0; padding: 15px 0; background: #EAEAEA; text-align: center; line-height: 15px; font-size: 15px; color: #707070;">
    Overall Information
</h3>
<table style="margin-bottom: 110px; border: none; border-collapse: collapse; min-width: 720px;">
    <tbody>
    <tr>
        <td style="min-width: 150px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Assigned</p>
        </td>
        <td style="min-width: 210px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ assigned_work_orders }}</p>
        </td>
        <td style="min-width: 150px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">On Time</p>
        </td>
        <td style="min-width: 210px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ on_time_work_orders }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 150px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Complete</p>
        </td>
        <td style="min-width: 210px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ complete_work_orders }}</p>
        </td>
        <td style="min-width: 150px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Incomplete</p>
        </td>
        <td style="min-width: 210px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ incomplete_work_orders }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 150px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Report Start Date</p>
        </td>
        <td style="min-width: 210px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ report_start_date }}</p>
        </td>
        <td style="min-width: 150px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Report End Date</p>
        </td>
        <td style="min-width: 210px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ report_end_date }}</p>
        </td>
    </tr>
    </tbody>
</table>
{% for work_order in work_orders %}
<h3 style="margin: 0; padding: 15px 0; background: #EAEAEA; text-align: center; line-height: 15px; font-size: 15px; color: #707070;">
    Work Order Identifying Number: {{ work_order.work_order_id }}
</h3>
<table style="border-collapse: collapse; border: none; min-width: 720px;">
    <tbody>
    <tr>
        <td style="min-width: 320px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Pothole Identifying Number</p>
        </td>
        <td colspan="2" style="min-width: 400px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ work_order.pothole_id }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Date of Report</p>
        </td>
        <td colspan="2" style="min-width: 400px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ work_order.pothole.report_date }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Date of Assignment</p>
        </td>
        <td colspan="2" style="min-width: 400px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ work_order.assignment_date }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Street Address</p>
        </td>
        <td colspan="2" style="min-width: 400px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ work_order.pothole.street_addr }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Size of Pothole</p>
        </td>
        <td colspan="2" style="min-width: 400px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ work_order.pothole.size }}/10</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Repair Type</p>
        </td>
        <td colspan="2" style="min-width: 400px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ work_order.pothole.repair_type }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Repair Priority</p>
        </td>
        <td colspan="2" style="min-width: 400px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ work_order.pothole.repair_priority }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Repair Status</p>
        </td>
        <td colspan="2" style="min-width: 400px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">{{ work_order.pothole.repair_status }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Man Hours</p>
        </td>
        <td style="min-width: 200px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Estimated: {{ work_order.estimated_man_hours }}</p>
        </td>
        <td style="min-width: 200px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Actual: {{ work_order.actual_man_hours }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Completion Date</p>
        </td>
        <td style="min-width: 200px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Expected: {{ work_order.pothole.expected_completion }}</p>
        </td>
        <td style="min-width: 200px; height: 30px; padding: 0; border: 2px solid #000000; vertical-align: middle;">
            <p style="margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px;">Actual: {{ work_order.pothole.actual_completion }}</p>
        </td>
    </tr>
    </tbody>
</table>
{% endfor %}
</body>
</html>