<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PTRS</title>
</head>
<body>
<h1 style='margin: 0; text-align: center; font-size: 19px; font-family: sans-serif; color: black; font-weight: bold;'>Indiana County Department of Public Works</h1>
<h2 style='margin: 15px 0; font-size: 16px; font-family: sans-serif; color: #6E6E6E;'>POTHOLE REPAIR STATUS REPORT</h2>
<h3 style='margin: 15px 0 0; padding: 15px 0; background: #EAEAEA; text-align: center; line-height: 15px; font-size: 15px; font-family: sans-serif; color: #707070; font-weight: bold;'>Overall Information</h3>
<table style="border: none; border-collapse: collapse; min-width: 720px;">
    <tbody>
    <tr>
        <td style="min-width: 150px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <h3 style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif; color: #000000; font-weight: normal;'>Assigned</h3>
        </td>
        <td style="min-width: 210px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ assigned_work_orders }}</p>
        </td>
        <td style="min-width: 150px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <h3 style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif; color: #000000; font-weight: normal;'>On Time</h3>
        </td>
        <td style="min-width: 210px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ on_time_work_orders }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 150px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <h3 style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif; color: #000000; font-weight: normal;'>Complete</h3>
        </td>
        <td style="min-width: 210px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ complete_work_orders }}</p>
        </td>
        <td style="min-width: 150px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <h3 style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif; color: #000000; font-weight: normal;'>Incomplete</h3>
        </td>
        <td style="min-width: 210px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ incomplete_work_orders }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 150px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <h3 style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif; color: #000000; font-weight: normal;'>Report Start Date</h3>
        </td>
        <td style="min-width: 210px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ report_start_date }}</p>
        </td>
        <td style="min-width: 150px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <h3 style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif; color: #000000; font-weight: normal;'>Report End Date</h3>
        </td>
        <td style="min-width: 210px; border: 2px solid #000000; padding: 0; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ report_end_date }}</p>
        </td>
    </tr>
    </tbody>
</table>
{% for work_order in work_orders %}
<h3 style='margin: 15px 0 0; padding: 15px 0; background: #EAEAEA; text-align: center; line-height: 15px; font-size: 15px; font-family: sans-serif; color: #707070; font-weight: bold;'>Work Order Identifying Number: {{ work_order.work_order_id }}</h3>
<table style="border-collapse: collapse; border: none; min-width: 720px;">
    <thead>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <h3 style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif; color: #000000; font-weight: bold;'>Description</h3>
        </td>
        <td colspan="2" style="min-width: 400px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <h3 style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif; color: #000000; font-weight: bold;'>Information</h3>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Pothole Identifying Number</p>
        </td>
        <td colspan="2" style="min-width: 400px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ work_order.pothole_id }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Date of Report</p>
        </td>
        <td colspan="2" style="min-width: 400px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ work_order.pothole.report_date }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Date of Assignment</p>
        </td>
        <td colspan="2" style="min-width: 400px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ work_order.assignment_date }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Street Address</p>
        </td>
        <td colspan="2" style="min-width: 400px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ work_order.pothole.street_addr }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Size</p>
        </td>
        <td colspan="2" style="min-width: 400px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ work_order.pothole.size }}/10</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Type of Repair Needed</p>
        </td>
        <td colspan="2" style="min-width: 400px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ work_order.pothole.repair_type }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Repair Priority</p>
        </td>
        <td colspan="2" style="min-width: 400px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ work_order.pothole.repair_priority }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Status</p>
        </td>
        <td colspan="2" style="min-width: 400px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>{{ work_order.pothole.repair_status }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Man Hours</p>
        </td>
        <td style="min-width: 200px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Estimated: {{ work_order.estimated_man_hours }}</p>
        </td>
        <td style="min-width: 200px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Actual: {{ work_order.actual_man_hours }}</p>
        </td>
    </tr>
    <tr>
        <td style="min-width: 320px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Completion Date</p>
        </td>
        <td style="min-width: 200px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Expected: {{ work_order.pothole.expected_completion }}</p>
        </td>
        <td style="min-width: 200px; border: 2px solid #000000; padding: 0; height: 30px; vertical-align: middle;">
            <p style='margin: 8px 0; padding: 5px; line-height: 15px; font-size: 15px; font-family: sans-serif;'>Actual: {{ work_order.pothole.actual_completion }}</p>
        </td>
    </tr>
    </tbody>
</table>
{% endfor %}
</body>
</html>