<p style='margin:0;text-align:center;font-size:19px;font-family:"Century Gothic",sans-serif;color:black;font-weight:bold;'>Indiana County Department of Public Works</p>
<h1 style='margin: 12.0pt 0;font-size:16px;font-family:"Century Gothic",sans-serif;color:#6E6E6E;'>Pothole repair status report</h1>
<h2 style='margin: 12.0pt 0 5.0pt;background:#EAEAEA;font-size:15px;font-family:"Century Gothic",sans-serif;color:#707070;font-weight:normal;'>Overall Information</h2>
<table style="border: none;border-collapse: collapse;width: 720px;">
    <tbody>
    <tr>
        <td style="width: 112.5pt;padding: 0 5.4pt;vertical-align: top;">
            <h3 style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;color:#858585;font-weight:normal;'>Assigned</h3>
        </td>
        <td style="width: 157.5pt;padding: 0 5.4pt;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ assigned_work_orders }}</p>
        </td>
        <td style="width: 1.4in;padding: 0 5.4pt;vertical-align: top;">
            <h3 style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;color:#858585;font-weight:normal;'>On Time</h3>
        </td>
        <td style="width: 2.35in;padding: 0 5.4pt;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ on_time_work_orders }}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 112.5pt;padding: 0 5.4pt;vertical-align: top;">
            <h3 style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;color:#858585;font-weight:normal;'>Complete</h3>
        </td>
        <td style="width: 157.5pt;padding: 0 5.4pt;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ complete_work_orders }}</p>
        </td>
        <td style="width: 1.4in;padding: 0 5.4pt;vertical-align: top;">
            <h3 style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;color:#858585;font-weight:normal;'>Incomplete</h3>
        </td>
        <td style="width: 2.35in;padding: 0 5.4pt;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ incomplete_work_orders }}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 112.5pt;padding: 0 5.4pt;vertical-align: top;">
            <h3 style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;color:#858585;font-weight:normal;'>Report Start Date</h3>
        </td>
        <td style="width: 157.5pt;padding: 0 5.4pt;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ report_start_date }}</p>
        </td>
        <td style="width: 1.4in;padding: 0 5.4pt;vertical-align: top;">
            <h3 style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;color:#858585;font-weight:normal;'>Report End Date</h3>
        </td>
        <td style="width: 2.35in;padding: 0 5.4pt;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ report_end_date }}</p>
        </td>
    </tr>
    </tbody>
</table>
{% for work_order in work_orders %}
<h2 style='margin: 12.0pt 0 5.0pt;background:#EAEAEA;font-size:15px;font-family:"Century Gothic",sans-serif;color:#707070;font-weight:normal;'>Work Order Identifying Number: {{ work_order.work_order_id }}</h2>
<table style="border-collapse: collapse;border: none;width: 720px;">
    <thead>
    <tr>
        <td style="width: 3.5in;border-top: 1pt solid rgb(127, 127, 127);border-left: none;border-bottom: 1pt solid rgb(127, 127, 127);border-right: none;padding: 0;vertical-align: top;">
            <h3 style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;color:#858585;font-weight:normal;'>Description</h3>
        </td>
        <td style="width: 166.5pt;border-top: 1pt solid rgb(127, 127, 127);border-left: none;border-bottom: 1pt solid rgb(127, 127, 127);border-right: none;padding: 0;vertical-align: top;">
            <h3 style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;color:#858585;font-weight:normal;'>Information</h3>
        </td>
        <td style="width: 121.5pt;border-top: 1pt solid rgb(127, 127, 127);border-left: none;border-bottom: 1pt solid rgb(127, 127, 127);border-right: none;padding: 0;vertical-align: top;">
            <h3 style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;color:#858585;font-weight:normal;'>&nbsp;</h3>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: 3.5in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Pothole Identifying Number</p>
        </td>
        <td style="width: 166.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ work_order.pothole_id }}</p>
        </td>
        <td style="width: 121.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 3.5in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Date of Report</p>
        </td>
        <td style="width: 166.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ work_order.pothole.report_date }}</p>
        </td>
        <td style="width: 121.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 3.5in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Date of Assignment</p>
        </td>
        <td style="width: 166.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ work_order.assignment_date }}</p>
        </td>
        <td style="width: 121.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 3.5in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Street Address</p>
        </td>
        <td style="width: 166.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ work_order.pothole.street_addr }}</p>
        </td>
        <td style="width: 121.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 3.5in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Size</p>
        </td>
        <td style="width: 166.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ work_order.pothole.size }}/10</p>
        </td>
        <td style="width: 121.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 3.5in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Type of Repair Needed</p>
        </td>
        <td style="width: 166.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ work_order.pothole.repair_type }}</p>
        </td>
        <td style="width: 121.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 3.5in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Repair Priority</p>
        </td>
        <td style="width: 166.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ work_order.pothole.repair_priority }}</p>
        </td>
        <td style="width: 121.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 3.5in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Status</p>
        </td>
        <td style="width: 166.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>{{ work_order.pothole.repair_status }}</p>
        </td>
        <td style="width: 121.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 3.5in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Man Hours</p>
        </td>
        <td style="width: 166.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Estimated: {{ work_order.estimated_man_hours }}</p>
        </td>
        <td style="width: 121.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Actual: {{ work_order.pothole.actual_man_hours }}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 3.5in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Completion Date</p>
        </td>
        <td style="width: 166.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Expected: {{ work_order.pothole.expected_completion }}</p>
        </td>
        <td style="width: 121.5pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(127, 127, 127);padding: 0;vertical-align: top;">
            <p style='margin: 5.0pt 0;font-size:15px;font-family:"Century Gothic",sans-serif;'>Actual: {{ work_order.pothole.actual_completion }}</p>
        </td>
    </tr>
    </tbody>
</table>
{% endfor %}