<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PTRS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='work-orders.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet" />
</head>
<body>
    <div class="buttonsDiv">
        <button class="typeSelect activeButton">Active</button>
        <button class="typeSelect completeButton">Completed</button>
        <button class="generateReportButton">Generate Report</button>
    </div>
    <div class="gridContainer"></div>
    <div class="popup" style="visibility: hidden; opacity: 0;">
        <label for="sortBy">Sort By:</label>
        <select id="sortBy">
            <option value="work_order_id">Work Order ID</option>
            <option value="pothole_id">Pothole ID</option>
            <option value="report_date">Date of Report</option>
            <option value="assignment_date">Date of Assignment</option>
            <option value="size">Size</option>
            <option value="repair_type">Repair Type</option>
            <option value="repair_priority">Repair Priority</option>
            <option value="repair_status">Repair Status</option>
            <option value="estimated_man_hours">Estimated Man Hours</option>
            <option value="actual_man_hours">Actual Man Hours</option>
            <option value="expected_completion">Expected Completion Date</option>
            <option value="actual_completion">Actual Completion Date</option>
        </select>
        <label for="order">Order:</label>
        <select id="order">
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
        </select>
        <button class="cancel">Cancel</button>
        <input type="submit" value="Generate Report">
    </div>
<script type="module" src="{{ url_for('static', filename='work-orders.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs_wMRGpPPb74zD4Qf7FI_nE4cTR4JINw&loading=async&callback=initMap&v=weekly" defer></script>
</body>
</html>
